@use "../../assets/styles/colors" as c;

nav,
header {
	position: absolute;
	width: 100vw;
	padding: 13% 6.3%;
}

nav {
	z-index: 999;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transform: translateY(-100%);
	transition: width 0.2s cubic-bezier(0.42, 0, 0.5, 1.05);

	ul {
		font-size: 1.7rem;
		font-weight: bold;

		li {
			display: inline-block;
			padding-inline: 0.7em;
			position: relative;
			cursor: pointer;

			&::after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
				width: 0%;
				height: 2px;
				background-color: c.$black;
				transition: width 0.2s cubic-bezier(0.42, 0, 0.5, 1.05);
			}

			&:hover::after {
				width: 73%;
			}
		}
	}
}

.expand {
	transform: translateY(0);
}

header {
	z-index: 99;
}

img[alt="hamburger icon"] {
	float: left;
	cursor: pointer;
}

img[alt="room's logo"] {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

img[alt="close icon"] {
	cursor: pointer;
}
