@use "../assets/styles/colors" as c;
@use "../assets/styles/responsive" as r;

.textBox {
	padding: 60px 45px;

	h1 {
		font-size: 4rem;
		font-weight: 700;
		color: c.$black;
	}

	h2 {
		font-size: 1.7rem;
		letter-spacing: 0.35em;
	}

	p {
		font-size: 1.73rem;
		color: c.$dark-gray;
		line-height: 1.43em;
		margin-top: 1em;
	}

	a {
		font-size: 1.7rem;
		font-weight: 600;
		letter-spacing: 13px;
		color: c.$very-dark-gray;
		text-decoration: none;
		display: inline-block;
		margin-top: 2.5em;

		img {
			vertical-align: middle;
		}

		&:hover {
			color: c.$dark-gray;

			img {
				opacity: 0.5;
			}
		}
	}
}

img[alt="about"] {
	width: 100%;
	object-fit: cover;
}

@media screen and (min-width: r.$tablet) {
	.body {
		display: grid;
		grid-template-areas: "a a" "b c";
		align-items: stretch;

		> :first-child {
			grid-area: a;
		}

		> :nth-child(2) {
			grid-area: b;
			padding: 30px 30px;
		}

		> :last-child {
			grid-area: c;
		}
	}
}

@media screen and (min-width: 900px) {
	.header {
		.textBox {
			padding: 60px 55px;
		}
	}

	.body {
		grid-template-areas: "a b c";
	}
}

@media screen and (min-width: 1200px) {
	.header {
		section {
			display: flex;
		}

		.textBox {
			width: 53%;
			display: inline-block;
			padding: 80px 50px;
		}
	}
}
