@use "../../assets/styles/colors" as c;

.carousel {
	width: 100%;
	position: relative;
}

.carousel > img {
	width: 100%;
	object-fit: cover;
}

.btn-group {
	position: absolute;
	right: 0;
	bottom: 2px;

	&::after {
		content: "";
		clear: both;
		display: table;
	}
}

button {
	background-color: c.$black;
	border: none;
	outline: none;
	padding: 20px;
	float: left;

	img {
		width: 10px;
	}
}
